<div class="container flex flex-wrap items-center pt-4 pb-12 mx-auto">
  <nav id="store" class="top-0 w-full px-6 py-1">
    <div
      class="container flex flex-wrap items-center justify-between w-full px-2 py-3 mx-auto mt-0 "
    >
      <a
        class="text-xl font-bold tracking-wide text-gray-800 no-underline uppercase  hover:no-underline"
        href="#"
      >
        Products
      </a>

      <div class="flex items-center" id="store-nav-content">
        <a class="inline-block pl-3 no-underline hover:text-black" href="#">
          <svg
            class="fill-current hover:text-black"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path d="M7 11H17V13H7zM4 7H20V9H4zM10 15H14V17H10z" />
          </svg>
        </a>

        <a class="inline-block pl-3 no-underline hover:text-black" href="#">
          <svg
            class="fill-current hover:text-black"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M10,18c1.846,0,3.543-0.635,4.897-1.688l4.396,4.396l1.414-1.414l-4.396-4.396C17.365,13.543,18,11.846,18,10 c0-4.411-3.589-8-8-8s-8,3.589-8,8S5.589,18,10,18z M10,4c3.309,0,6,2.691,6,6s-2.691,6-6,6s-6-2.691-6-6S6.691,4,10,4z"
            />
          </svg>
        </a>
      </div>
    </div>
  </nav>

  <div class="flex flex-col w-full p-6 md:w-1/3 xl:w-1/4">
    <div
      class="flex flex-col items-center justify-center max-w-sm mx-auto transition duration-500 ease-in-out transform  hover:-translate-y-1 hover:scale-110"
    >
      <div
        class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md"
        style="
          background-image: url(https://images.unsplash.com/photo-1521903062400-b80f2cb8cb9d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);
        "
      ></div>

      <div
        class="w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg  md:w-64 dark:bg-gray-800"
      >
        <h3
          class="py-2 font-bold tracking-wide text-center text-gray-800 uppercase  dark:text-white"
        >
          Nike Revolt
        </h3>

        <div
          class="flex items-center justify-between px-3 py-2 bg-gray-200  dark:bg-gray-700"
        >
          <span class="font-bold text-gray-800 dark:text-gray-200">$129</span>
          <button
            class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-200 transform bg-gray-800 rounded  hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none"
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-full p-6 md:w-1/3 xl:w-1/4">
    <div
      class="flex flex-col items-center justify-center max-w-sm mx-auto transition duration-500 ease-in-out transform  hover:-translate-y-1 hover:scale-110"
    >
      <div
        class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md"
        style="
          background-image: url(https://images.unsplash.com/photo-1521903062400-b80f2cb8cb9d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);
        "
      ></div>

      <div
        class="w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg  md:w-64 dark:bg-gray-800"
      >
        <h3
          class="py-2 font-bold tracking-wide text-center text-gray-800 uppercase  dark:text-white"
        >
          Nike Revolt
        </h3>

        <div
          class="flex items-center justify-between px-3 py-2 bg-gray-200  dark:bg-gray-700"
        >
          <span class="font-bold text-gray-800 dark:text-gray-200">$129</span>
          <button
            class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-200 transform bg-gray-800 rounded  hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none"
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-full p-6 md:w-1/3 xl:w-1/4">
    <div
      class="flex flex-col items-center justify-center max-w-sm mx-auto transition duration-500 ease-in-out transform  hover:-translate-y-1 hover:scale-110"
    >
      <div
        class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md"
        style="
          background-image: url(https://images.unsplash.com/photo-1521903062400-b80f2cb8cb9d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);
        "
      ></div>

      <div
        class="w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg  md:w-64 dark:bg-gray-800"
      >
        <h3
          class="py-2 font-bold tracking-wide text-center text-gray-800 uppercase  dark:text-white"
        >
          Nike Revolt
        </h3>

        <div
          class="flex items-center justify-between px-3 py-2 bg-gray-200  dark:bg-gray-700"
        >
          <span class="font-bold text-gray-800 dark:text-gray-200">$129</span>
          <button
            class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-200 transform bg-gray-800 rounded  hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none"
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-full p-6 md:w-1/3 xl:w-1/4">
    <div
      class="flex flex-col items-center justify-center max-w-sm mx-auto transition duration-500 ease-in-out transform  hover:-translate-y-1 hover:scale-110"
    >
      <div
        class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md"
        style="
          background-image: url(https://images.unsplash.com/photo-1521903062400-b80f2cb8cb9d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);
        "
      ></div>

      <div
        class="w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg  md:w-64 dark:bg-gray-800"
      >
        <h3
          class="py-2 font-bold tracking-wide text-center text-gray-800 uppercase  dark:text-white"
        >
          Nike Revolt
        </h3>

        <div
          class="flex items-center justify-between px-3 py-2 bg-gray-200  dark:bg-gray-700"
        >
          <span class="font-bold text-gray-800 dark:text-gray-200">$129</span>
          <button
            class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-200 transform bg-gray-800 rounded  hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none"
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-full p-6 md:w-1/3 xl:w-1/4">
    <div
      class="flex flex-col items-center justify-center max-w-sm mx-auto transition duration-500 ease-in-out transform  hover:-translate-y-1 hover:scale-110"
    >
      <div
        class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md"
        style="
          background-image: url(https://images.unsplash.com/photo-1521903062400-b80f2cb8cb9d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);
        "
      ></div>

      <div
        class="w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg  md:w-64 dark:bg-gray-800"
      >
        <h3
          class="py-2 font-bold tracking-wide text-center text-gray-800 uppercase  dark:text-white"
        >
          Nike Revolt
        </h3>

        <div
          class="flex items-center justify-between px-3 py-2 bg-gray-200  dark:bg-gray-700"
        >
          <span class="font-bold text-gray-800 dark:text-gray-200">$129</span>
          <button
            class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-200 transform bg-gray-800 rounded  hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none"
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-full p-6 md:w-1/3 xl:w-1/4">
    <div
      class="flex flex-col items-center justify-center max-w-sm mx-auto transition duration-500 ease-in-out transform  hover:-translate-y-1 hover:scale-110"
    >
      <div
        class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md"
        style="
          background-image: url(https://images.unsplash.com/photo-1521903062400-b80f2cb8cb9d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);
        "
      ></div>

      <div
        class="w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg  md:w-64 dark:bg-gray-800"
      >
        <h3
          class="py-2 font-bold tracking-wide text-center text-gray-800 uppercase  dark:text-white"
        >
          Nike Revolt
        </h3>

        <div
          class="flex items-center justify-between px-3 py-2 bg-gray-200  dark:bg-gray-700"
        >
          <span class="font-bold text-gray-800 dark:text-gray-200">$129</span>
          <button
            class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-200 transform bg-gray-800 rounded  hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none"
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
